<a href="https://colab.research.google.com/github/robinsonmeza/Python-tic/blob/main/ED_Clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = int(input("ingrese un numero"))
num2 = int(input("ingrese un numero"))

resultadoSuma = num1 + num2
print (f"suma: {num1} + {num2} = {resultado_suma}")
resultadoResta = num1 - num2
print (f"resta: {num2} - {num1} = {resultado_resta}")
resultadoMultiplicacion = num1 * num2
print (f"multiplicacion: {num1} * {num2} = {resultado_multi}")
resultadoDivision = num1 / num2
print (f"division: {num1} / {num2} = {resultado_divi}")
resultadoCociente = num1 % num2
print (f"Cociente: {num1} % {num2} = {resultado_divi}")

ingrese un numero21
ingrese un numero34
suma: 21 + 34 = 9
resta: 34 - 21 = -1
multiplicacion: 21 * 34 = 20
division: 21 / 34 = 0.8
Cociente: 21 % 34 = 0.8

In [ ]:
# prompt: imprime todas los posibles codigos y ejemplos que se usan en python empezando por tipos de variables con sus respectivos ejemplos

# Tipos de variables con ejemplos

# Enteros (int)
entero = 10
print(f"Entero: {entero}, Tipo: {type(entero)}")

# Flotantes (float)
flotante = 3.14
print(f"Flotante: {flotante}, Tipo: {type(flotante)}")

# Cadenas de texto (str)
cadena = "Hola, mundo!"
print(f"Cadena: {cadena}, Tipo: {type(cadena)}")

# Booleanos (bool)
verdadero = True
falso = False
print(f"Booleano verdadero: {verdadero}, Tipo: {type(verdadero)}")
print(f"Booleano falso: {falso}, Tipo: {type(falso)}")

# Listas (list) - Colecciones ordenadas y mutables
lista = [1, 2, 3, "cuatro", 5.0]
print(f"Lista: {lista}, Tipo: {type(lista)}")
print(f"Primer elemento de la lista: {lista[0]}")  # Acceso a elementos
lista.append(6)  # Agregar un elemento
print(f"Lista después de agregar un elemento: {lista}")
lista[0] = 10 # modificar el primer elemento
print(f"Lista después de modificar el primer elemento: {lista}")

# Tuplas (tuple) - Colecciones ordenadas e inmutables
tupla = (1, 2, 3, "cuatro", 5.0)
print(f"Tupla: {tupla}, Tipo: {type(tupla)}")
# tupla[0] = 10 # Esto generaría un error, las tuplas no se pueden modificar.

# Conjuntos (set) - Colecciones desordenadas de elementos únicos
conjunto = {1, 2, 2, 3, 4, 4}  # Los elementos duplicados se eliminan automáticamente
print(f"Conjunto: {conjunto}, Tipo: {type(conjunto)}")

# Diccionarios (dict) - Colecciones de pares clave-valor
diccionario = {"nombre": "Juan", "edad": 30, "ciudad": "Madrid"}
print(f"Diccionario: {diccionario}, Tipo: {type(diccionario)}")
print(f"Valor de la clave 'nombre': {diccionario['nombre']}")


# Operaciones básicas (ejemplos con variables)
num1 = 10
num2 = 5

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2  # División con resultado flotante
division_entera = num1 // num2  # División entera
modulo = num1 % num2  # Módulo (resto de la división)
potencia = num1 ** num2  # Potencia


print(f"Suma: {suma}")
print(f"Resta: {resta}")
print(f"Multiplicación: {multiplicacion}")
print(f"División: {division}")
print(f"División entera: {division_entera}")
print(f"Módulo: {modulo}")
print(f"Potencia: {potencia}")

# Entrada del usuario (input)
nombre = input("Ingresa tu nombre: ")
print(f"Hola, {nombre}!")

# Control de flujo (if-else)
edad = int(input("Ingresa tu edad: ")) # conversion de string a entero

if edad >= 18:
  print("Eres mayor de edad")
else:
  print("Eres menor de edad")


# Bucles (for y while)
for i in range(5): # el rango se especifica hasta 5 sin incluir 5
  print(f"Iteración: {i}")

contador = 0
while contador < 3:
  print(f"Contador: {contador}")
  contador += 1

In [ ]:
a = 2
b = 2.6
c = 8
d = 3

suma = a + b
rest = b - c
mul = a * c
div = c / a
div2 = c //a
val = c % d
pot = a ** 3

print(suma)
print(rest)
print(mul)
print(div)
print(div2)
print(val)
print(pot)
print("_____________________________")
print(min(a,b,c,d))
print(max(a,b,c,d))
from math import *
print(round(b))
print(floor(b))
print(ceil(b))
print(sqrt(b))
print(pow(b,a))

4.6
-5.4
16
4.0
4
2
8
_____________________________
2
8

In [1]:
nombre = ["juan", "andres", "jairo", "luisa"]
edad = [22, 34, 31, 19]
opciones = [True, False, False, True]
print(nombre)
print(edad)
print(opciones)
print(nombre[1])

nombre.append("Bolivar")
print(nombre)

nombre.insert(1, "cameo")
print(nombre)

nombre.remove("juan")
print(nombre)

nombre[2]= "david"
print(nombre)
nombre2 = ["albenis", "alejandra", "ernesto"]
nombre.extend(nombre2)
print(nombre)

nombre.pop(2)
print(nombre)

nombre.sort()
print(nombre)

['juan', 'andres', 'jairo', 'luisa']
[22, 34, 31, 19]
[True, False, False, True]
andres
['juan', 'andres', 'jairo', 'luisa', 'Bolivar']
['juan', 'cameo', 'andres', 'jairo', 'luisa', 'Bolivar']
['cameo', 'andres', 'jairo', 'luisa', 'Bolivar']
['cameo', 'andres', 'david', 'luisa', 'Bolivar']
['cameo', 'andres', 'david', 'luisa', 'Bolivar', 'albenis', 'alejandra', 'ernesto']
['cameo', 'andres', 'luisa', 'Bolivar', 'albenis', 'alejandra', 'ernesto']
['Bolivar', 'albenis', 'alejandra', 'andres', 'cameo', 'ernesto', 'luisa']

In [2]:
# prompt: dame un ejemplo corto de tuplas, set y diccionario con su respectiva explicacion

# Tuplas: Secuencias ordenadas e inmutables.
mi_tupla = (1, "dos", 3.0)
print(f"Tupla: {mi_tupla}, Tipo: {type(mi_tupla)}")
#  mi_tupla[0] = 2  # Esto daría error, las tuplas no se pueden modificar.

# Conjuntos (Sets): Colecciones desordenadas de elementos únicos.
mi_set = {1, 2, 2, 3} # El 2 se repite pero solo se almacena una vez
print(f"Conjunto: {mi_set}, Tipo: {type(mi_set)}")

# Diccionarios: Colecciones de pares clave-valor.
mi_diccionario = {"nombre": "Alice", "edad": 30, "ciudad": "Nueva York"}
print(f"Diccionario: {mi_diccionario}, Tipo: {type(mi_diccionario)}")
print(f"Edad de Alice: {mi_diccionario['edad']}")

Tupla: (1, 'dos', 3.0), Tipo: <class 'tuple'>
Conjunto: {1, 2, 3}, Tipo: <class 'set'>
Diccionario: {'nombre': 'Alice', 'edad': 30, 'ciudad': 'Nueva York'}, Tipo: <class 'dict'>
Edad de Alice: 30

In [3]:
print(2 == 3)
print(2 < 3)
print(2 > 3)
print(2 <= 3)
print(2 >= 3)
print(2 != 3)

False
True
False
True
False
True

In [11]:
a = 3
b = 3

if (a < b):
  print (f'{a} es menor que {b}' )
  print ("esto esta dentro del if")
  print ("esto tambien")
elif (a == b):
  print (f'{a} es igual a {b}')
else:
  print (f'{a} es mayor que {b}' )

3 es igual a 3

In [17]:
dia = 5
match dia:
  case 1:
    print("Lunes")
  case 2:
    print("Martes")
  case 3:
    print("Miercoles")
  case 4:
    print("Jueves")
  case 5:
    print("Viernes")
  case 6:
    print("Sabado")
  case 7:
    print("Domingo")
  case _:
    print("no invente maricadas")

Viernes

In [18]:
for x in range(1, 10, 2):
  print(x)

1
3
5
7
9

In [38]:
for x in mi_diccionario:
 print( f' {mi_diccionario}')

 {'nombre': 'Alice', 'edad': 30, 'ciudad': 'Nueva York'}
 {'nombre': 'Alice', 'edad': 30, 'ciudad': 'Nueva York'}
 {'nombre': 'Alice', 'edad': 30, 'ciudad': 'Nueva York'}

In [40]:
def Resultado(Val1, Val2):
  suma = Val1 + Val2
  resta = Val1 - Val2
  multiplicacion = Val1 * Val2
  division = Val1 / Val2

  return suma, resta, multiplicacion, division

In [49]:
s, r, m, d = Resultado(17, 23)
print(f'el resultado de la suma es {s} y el de la resta es {r}')
print(f' el resultado de la multiplicacion es {m} y el de la division es {d} ')

el resultado de la suma es 40 y el de la resta es -6
 el resultado de la multiplicacion es 391 y el de la division es 0.7391304347826086